*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    height: 110vh;
    position: relative;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url(images/netflix\ bg1.jpg);
    background-size: cover;
    background-position: center;
   padding: 10px 0;
}
.disclaimer{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    
}
.logo{
    width: 150px;
    cursor: pointer;
    padding-left: 50px; 
    margin-left: 50px; 
}
.title{
     margin-right:200px; 
}
.title button{
    border: 0px;
    outline: 0px;
   padding-right: 20px;
   padding-left: 20px;
   padding-top: 7px;
   padding-bottom: 7px;
    background: red;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
#button1{
    display: inline flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    border-radius: 6px;
}
#button1:hover{
    border:2px solid white ;
}
.down{
    width: 10px;
    margin-left: 10px;
}
.globe{
    width: 15px;
    margin-right:5px;
    margin-left: 1px;
}
.button2:hover{
    background-color:  rgb(143, 10, 10);
}
.content{
    margin-top: 14%;
   
}
.content h1{
    font-size: 3.2rem;
    margin-left: 11%;
    font-weight: 600;
}
.content h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.content p{
    text-align: center;

    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
}
.email{
/* border-radius: 4px; */
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
   overflow: hidden; 
   /* width: 40%; */
  gap: 7px;
   margin-left: 3%;
   
}
.email input{
    /* flex: 1; */
    border: 1px solid white;
    outline: 0;
    padding-left: 20px;
padding-top: 20px;
padding-bottom: 20px;  
font-size: 16px;
background: transparent;  
border-radius: 4px;
color: white;
font-weight: 600;
width: 35%;
margin-left: 10px;
}
.email button{
    background: red;
    padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
padding-right: 20px; 
color: white;
font-size: 24px; 
cursor: pointer;
border: 0;
border-radius: 4px;
width: 19%;
}
.email button:hover{
    background-color: rgb(143, 10, 10);
}
hr{
    height: 7px;
    background-color: rgb(88, 83, 83);
    border-width: 0;
}
.features{
    padding-top: 50px;
    padding-bottom:50px;
    padding-left: 12%;
    padding-right: 12%; 
    height: 70vh;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
   padding-top: 50px;
   padding-bottom: 50px;
}
.text{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.image1{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.image1 img{
    display: block;
    width: 90%;
    margin: auto;
}
.text h2{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 18px;
   
}
.text p{
    font-size: 1.5rem;
    font-weight: 400;
}
.about{
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 12%;
    padding-right: 12%; 
    text-align: center;
}
.about h1{
    font-size: 3rem;
    font-weight: 900;
   margin-top: 30px;
    padding-top: 30px;
}
.information{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 25px;
    margin-right: auto;
    width: 100%;
    max-width: 770px;
}
.information li{
    list-style: none;
    width: 890px;
    padding: 5px;
}
.information li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    background: rgb(45, 45, 45);
    margin-bottom: 2px;
    cursor: pointer;
    position: relative; 
}
label::after{
    content: "+";
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.container{
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.information input[type="radio"]:checked + label + .container{
    max-height: 600px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.information input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.sign{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem; 
}
.footer h3{
 margin-top: 50px; 
   color: rgba(255,255,255,0.7);
    margin-left: 140px;
    padding-top: 0.75rem;
}
.footer a{
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    color: rgba(255,255,255,0.7);
}
.end{
    display: flex;
    margin-left: 100px;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 25px;
}
.links{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    margin-left: 60px;
    padding-top: 10px;
    gap: 15px;
    margin-bottom: 20px;
}
.footer button{
    display: inline flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    padding-right: 20px;
   padding-left: 5px;
   padding-top: 7px;
   padding-bottom: 7px;
   font-size: 16px;
   border-radius: 4px;
   cursor: pointer;
   margin-left: 160px;
   margin-top: 30px;

}
.footer button img{
    width: 10px;
    margin-left: 10px;  
}
.footer p{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
    color: rgba(255,255,255,0.7);
    margin-left: 160px;
    margin-top: 20px;
    margin-bottom: 60px;
}

/* ------------media-queries-for-small-screen-------------- */
@media only screen and (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    .logo{
        width: 100px;
        margin-left: 10px;
        padding-left: 2px;
    }
    .title{
        margin-right: 20px;
    }
    .title button{
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
         font-size: 12px;   
    }
    .content{
        position: unset;
        transform: none;
        padding-top: 70px;
    }
    .content h1{
        font-size: 30px;
        text-align: center;
    }
    .content h3{
        font-size: 20px;
    }
    .content p{
        font-size: 15px;
    }
    .email button{
        font-size: 12px;
        width: 21%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .email input{
        width: 32%;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 8px;
       
    }
    .features{
        height: 110vh;
        padding-top: 20px;
    }
    .text, .image1{
        flex-basis: 100%;
    }
    .text h2{
        font-size: 2rem;
    }
    .text p{
        font-size: 1rem;
    }
    .about h1{
        font-size: 2rem;
        font-weight: 600;
       margin-top: 15px;
       padding-top: 15px;
         
    }
    .information li{
width: 370px;
    }
    .information li label{
        padding: 20px;
        font-size: 1rem;
        font-weight: 300;
    }
   .container{
    font-size: 1rem;
    font-weight: 200;
   }
   .sign{
    font-size: 1rem;
   }
   .footer h3{
    margin-left: 20px;
    margin-top: 8px;
    font-size: 15px;
   }
   .end{
    margin-left: 20px;
   }
   .links{
    margin-left: 10px;
   }
   .footer button{
    margin-left: 23px;
    font-size: 10px;
   }
   .footer p{
    font-size: 0.8rem;
    margin-left: 25px;
    margin-bottom: 30px;
    margin-top: 10px;
   }

}
